# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.dll

# Executables
*.exe
*.out
*.app
Software_Arduino_mit_Task/LED_Wuerfel/__vm/
Software_Arduino_mit_Task/LED_Wuerfel/.vs/
Software_Arduino_mit_Task/LED_Wuerfel/Release/
